extends _parts/layout.pug

block title
  title= page.title

block contents
  - var categories = new Array()
  - site.categories.each(function(item){categories.push(item);})
  .header
    h1= page.title
  .row
    .col-md-3
      .row
        button.btn.btn-danger.btn-lg.btn-block(onClick="window.location.href='/'") 主页
        each item in categories
          - var link_path = "window.location.href='" + url_for(item.path) + "'"
          button.btn.btn-danger.btn-lg.btn-block(onClick=link_path)= item.name
      .row(style="margin-top: 5px")
        img(src="/img/lajiao.PNG" class="img-responsive img-rounded" alt="Cinque Terre")
    .col-md-9
      .panel.panel-default
        .panel-body
          != page.content

block style
  != css('css/post')
